build-SnakeClient-Desktop_Qt_6_3_1_MinGW_64_bit-Debug/
build-SnakeClient-Custom_kit-Debug/
.DS_Store
SnakeClient/CMakeLists.txt.user
SnakeClient/CMakeLists.txt.user.ccaf7cf
build-SnakeClient-KIT-Debug/
SnakeClient/CMakeLists.txt.user.a8b0981
SnakeClient/CMakeLists.txt.user
